/* Стилизуем весь список */
ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы внутри списка */
    margin: 0; /* Убираем отступы вокруг списка */
}

/* Стилизуем пункты меню */
li {
    margin-bottom: 5px; /* Добавляем отступ между пунктами */
}

/* Стилизуем ссылки */
a {
    display: block; /* Делаем ссылку блочным элементом, чтобы она занимала всю ширину пункта меню */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #333; /* Задаем цвет текста */
    background-color: #f1f1f1; /* Задаем цвет фона */
    padding: 10px; /* Добавляем отступы внутри ссылки */
    border-radius: 5px; /* Добавляем закругление углов */
}

/* Стилизуем выделенный пункт меню */
a.active {
    background-color: #ddd; /* Задаем другой цвет фона */
}

/* Стилизуем вложенные списки */
ul ul {
    margin-left: 20px; /* Увеличиваем отступ слева */
}

/* Стилизуем вложенные пункты меню */
li li {
    margin-bottom: 0; /* Убираем отступ между вложенными пунктами */
}

/* Стилизуем вложенные ссылки */
li a {
    background-color: #e1e1e1; /* Задаем другой цвет фона */
}

/* Стилизуем вложенный выделенный пункт меню */
li a.active {
    background-color: #ccc; /* Задаем другой цвет фона */
}